[tool.coverage.run]
branch = true
source = ["."]
omit = [
    "tests/*",
]

[tool.coverage.report]
show_missing = true

[tool.coverage.xml]
output = "coverage.xml"

[tool.pytest.ini_options]
addopts = "-v"